.object-list-container{
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
    -fx-background-color: transparent;
}

.obj-list__title{
    -fx-font-weight: 700;
    -fx-font-size: 16px;
    -fx-text-fill: #383F45;
}

.obj-list__item{
    -fx-border-color: #CED2D6;
    -fx-border-style: solid none none none;
    -fx-border-width: 1;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-text-fill: #383F45;
}

.obj-list__row{
    -fx-background-color: white;
}

.obj-list__item:hover{
    -fx-background-color: #E5E7EA;
}