#main {
    -fx-background-radius: 20px;
}

.admin-main {
    -fx-background-color: #03555C;
}

.recepcionist-main {
    -fx-background-color: #E29578;
}

.employee-main {
    -fx-background-color: #83C5BE;

}

.admin {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(0, 109, 119, 0.201) 50.91%, rgba(226, 149, 120, 0.243) 83.82%, rgba(131, 197, 190, 0.105) 131.92%);

}

.recepcionist {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(131, 197, 190, 0.3) 62.08%, rgba(226, 149, 120, 0.3) 132.72%);
}

.employee {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(0, 109, 119, 0.201) 50.02%, rgba(226, 149, 120, 0.243) 83.62%, rgba(131, 197, 190, 0.105) 132.72%);

}

.scroll-pane,
.main-pane {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

.option-active {

    -fx-background-color: white;
    -fx-background-radius: 20px;
    /* establece el radio de las esquinas del panel */
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

.option-inActive {

    -fx-background-radius: 20px;
    /* establece el radio de las esquinas del panel */
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}