#input {
    -fx-min-width: 320;
    -fx-min-height: 44;
    -fx-max-width: 320;
    -fx-max-height: 44;
    -fx-padding: 0 0 0 35;

    -fx-effect: dropshadow(three-pass-box, #676e7614, 5, 0.1, 4, 2);

    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 13;

    -fx-border-color: #676e7642;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #9EA5AD;
    -fx-text-fill: #24292E;

}

.input-text {
    -fx-background-position: 12 center;
}

.input-selector {
    -fx-background-position: 296 center;
}

.combo-box .arrow,
.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-background-image: url(../assets/icons/arrow-selection.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 15;
    -fx-translate-x: -280px;
}


#input:hover {
    -fx-border-color: #000000a3;

}

#input:focused {
    -fx-effect: dropshadow(gaussian, #676e763b, 3, 1, 0, 0);
}

#input:pressed {
    -fx-effect: dropshadow(three-pass-box, #676e7614, 5, 0.1, 4, 2);
}

#input-container {
    -fx-min-width: 320;
    -fx-min-height: 100;
    -fx-max-width: 320;
    -fx-max-height: 100;
    -fx-row-alignment: center;
    -fx-column-alignment: left;
    -fx-orientation: vertical;
    -fx-vgap: 8;
}

#input-label {
    -fx-font-family: "Inter";
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-text-fill: #454C52;
}

#input-help-text {
    -fx-font-family: "Inter";
    -fx-font-weight: 400;
    -fx-font-size: 14px;
    -fx-text-fill: #676E76;
}

#principal{
    -fx-background-color: #006D77; /* establece el color de fondo del panel */
    -fx-background-radius: 20px; /* establece el radio de las esquinas del panel */
    /*-fx-translate-x: 50px; !* mueve el Pane 50 píxeles a la derecha *!*/
    /*-fx-translate-y: 100px; !* mueve el Pane 100 píxeles hacia abajo *!*/

}



#background-window {
    -fx-background-color: #CC3D5B; /* establece el color de fondo del panel */
}


.option-active {
    -fx-background-color: white;
    -fx-background-radius: 20px; /* establece el radio de las esquinas del panel */
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

.option-inActive {

    -fx-background-radius: 20px; /* establece el radio de las esquinas del panel */
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}


